#btnHome, #btnFixturesAndResults, #btnTeamDetails {
    -fx-background-color: #d0d0d0;
}

#btnChelsea, #btnClubDetails {
    -fx-background-color: #034694;
    -fx-text-fill: white;
}

#btnHome:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#btnTeamDetails:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#btnFixturesAndResults:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}

#btnClubDetails:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}