#btnHome, #btnTeamDetails, #btnClubDetails {
    -fx-background-color: #d0d0d0;
}

#btnManCity, #btnFixturesAndResults {
    -fx-background-color: #5CBFEB;
    -fx-text-fill: white;   
}

#btnHome:hover{
    -fx-background-color: #B0C4DE;
    -fx-text-fill: white;
}

#btnTeamDetails:hover{
    -fx-background-color: #B0C4DE;
    -fx-text-fill: white;
}

#btnFixturesAndResults:hover{
    -fx-background-color: #B0C4DE;
    -fx-text-fill: white;
}

#btnClubDetails:hover{
    -fx-background-color: #B0C4DE;
    -fx-text-fill: white;
}

#btnArsenal:hover{
    -fx-background-color: #B0C4DE;
    -fx-text-fill: white;
}

#btnChelsea:hover{
    -fx-background-color: #B0C4DE;
    -fx-text-fill: white;
}

#btnTottenham:hover{
    -fx-background-color: #B0C4DE;
    -fx-text-fill: white;
}

#btnManCity:hover{
    -fx-background-color: #B0C4DE;
    -fx-text-fill: white;
}